@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary-green: #357960;
}


:root {
  --primary-green:var(--primary-green);
  
}


html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding-sm);
    padding-right: var(--container-padding-sm);

    @media (min-width: 640px) {
      max-width: var(--container-max-width-sm);
      padding-left: var(--container-padding-sm);
      padding-right: var(--container-padding-sm);
    }

    @media (min-width: 768px) {
      max-width: var(--container-max-width-md);
      padding-left: var(--container-padding-md);
      padding-right: var(--container-padding-md);
    }

    @media (min-width: 1024px) {
      max-width: var(--container-max-width-lg);
      padding-left: var(--container-padding-lg);
      padding-right: var(--container-padding-lg);
    }

    @media (min-width: 1280px) {
      max-width: var(--container-max-width-xl);
      padding-left: var(--container-padding-xl);
      padding-right: var(--container-padding-xl);
    }

    @media (min-width: 1536px) {
      max-width: var(--container-max-width-2xl);
      padding-left: var(--container-padding-2xl);
      padding-right: var(--container-padding-2xl);
    }
  }
}

